# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.idea/
.vscode/

# Node
node_modules/

# Build output
dist/

# game data / built binaries / archives
*.wad
*.WAD
*.MPQ
*.mpq
*.pk3
*.PCX
*.RFF
*.DAT
*.exe
*.dll
*.zip
*.7z
*.tar.gz
